<h1>Modifier Fichier</h1>

<%= render 'form', fichier: @fichier, surveys: @surveys, button: 'Modifier Fichier' %>

<div class="actions">
	<%= button_to 'Voir', @fichier, :method => :get, :class => "button" %>
</div>

<div class="actions">
	<%= button_to 'Retour', :back, :method => :get, :class => "button" %>
</div>