<div class="page_title">
	<h1>Modifier Requête</h1>
</div>

<%= render 'form', request: @request, button: 'Modifier Requête' %>

<div class="actions">
	<%= button_to 'Voir', @request, :method => :get, :class => "button" %>
</div>

<div class="actions">
	<%= button_to 'Retour', :back, :method => :get, :class => "button" %>
</div>

