<div class="page_title">
	<h1>Modifier Enquête</h1>
</div>

<%= render 'form', survey: @survey, button: 'Modifier Enquête' %>

<div class="actions">
	<%= button_to 'Voir', @survey, :method => :get %>
</div>

<div class="actions">
	<%= button_to 'Retour', surveys_path, :method => :get %>
</div>